.jumbotron {
    background: url("../images/login_bg.png") left no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom:0;
    padding:0;
}
.jumbotron .container{
    margin:0;
    height:inherit;
    background-color: rgba(255,245,184,0.6);
    padding:0;
}

.input-container{
    background:none;
    width: 80%;
    margin:auto;
    padding-top: 60px;
    text-align:center;
}

.btn{
    background-color: #453f5c;
    color:#fff;
    border:0;
}

.btn-login{
    margin:80px auto;
    width:80%;
}
